.contentContainer {
    color: #8D6E63;
    display: flex;
    justify-content: space-between;
}

.mainContainer {
    margin-top: 10px;
}

.sidebarContainer {
    border: 1px solid #EFEBE9;
    min-height: 100vh;
    min-width: 270px;
    padding: 20px;
}